$light-blue: #29ABE2;
$screen-light-blue: rgba(41,171,226,.5);
$dark-grey: #2a2a2a;
$light-grey: #999;
$bright-red: rgb(237,28,36);
$dark-red: rgb(110,0,0);
$light-yellow: rgb(246, 243, 166);
$medium-grey: #333;


$background: $light-grey;
$header-bg: $dark-red;
$picture-back: $dark-grey;
$link: $light-blue;
$highlight: $screen-light-blue;
$form-bg: $light-yellow;
$h2: $bright-red;

// new more logical variables
$kbd1: $medium-grey;
$kbd2: $light-grey;
$slideshow-header: $light-yellow;
$header1: $bright-red;
$header2: $dark-grey;
$contact-icons: $bright-red;


//fonts
$head: 'Boogaloo', cursive;
$body: 'Josefin Sans', sans-serif;
